body{
    background-image: url(1.jpg);
    color: white;
    text-align: center;
    font-size: x-large;
    background-size: cover;
}
a{
    color: rgb(255, 0, 0);
    text-align: center;
}
p{
    margin: 300px 200px;
}
#back{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
}