body{
    background-image: url(1.jpg);
    background-size: cover;
    text-align: center;
}
img{
    width: 250px;
}
p{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: white;
}
a{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
   
}